/*
    CONTENT COLORS:
        background-color: #f8f8f8;
        border:1px solid #ddd;
*/

* {
    font-family: 'Kadwa', sans-serif;
    font-size: 14px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F0F0F0;
}
#SnapshotContent img {
    max-width: 100%;
    height: 100%;
}
#topBar {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    background-color: black;
}
.tabTitle {
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}
.towerad {
    display: block;
}
#wrap {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}
#header {
    padding: 10px;
}
#content {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 270px;
    /*This must be set to ATLEAST the value for #footer > height PLUS whatever the minimum amount of space you want between the footer and body content*/
    min-height: 350px;
}
.footerContent, #footer {
    height: 180px;
    /* If you change this you must +/- the amount to #content > padding-bottom*/
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    overflow: hidden;
    clear: both;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.footerContent {
    display: inline-block;
    padding: 15px 40px 10px 10px;
    float: left;
    font-size: 12px;
    line-height: 22px;
    color: #858585;
    border-left: 1px solid #ddd;
    word-wrap: break-word;
}
.footerContent a {
    color: #858585;
    text-decoration: underline;
}
#contentleft {
    overflow: hidden;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.2);
    border: 1px solid #c9c9cc;
    border-radius: 5px;
}
#contentright {
    float: right;
    margin-left: 20px;
    border: 1px solid #c9c9cc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 4px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}
#adContainer {
    /*  background-image:url("../img/towerad2.png");
  height:450px;
  width:142px;
  background-repeat:no-repeat;*/
    position: relative;
}
#adContainer p {
    position: absolute;
    left: 0;
    top: 130px;
    ;
    padding: 10px;
    margin: 0px;
    word-wrap: break-word;
    width: 140px;
    height: 150px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
}
#adContainer img {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 150px;
    height: 450px
}
#hideAds {
    margin: 5px;
    text-align: right;
    font-size: 12px;
}
.form {
    padding: 20px 15px 20px 15px;
    margin: 10px 0px 10px 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2)
}

.containerEntry {
    /* Theres nothing here because thats just the way it is */
}

.containerContent {
    margin: 10px 20px 10px 20px;
}

.form, .containerContent {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
.contentTitle {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}
.containerContent {
    padding: 8px 10px 8px 10px;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2)
}
.specText {
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.mono {
    display: inline-block;
    min-width: 150px;
}
.good {
    background-color: rgba(0, 255, 0, 0.15) !important;
    border-color: rgba(0, 255, 0, 0.5) !important;
}
.bad {
    background-color: rgba(255, 0, 0, 0.15) !important;
    border-color: rgba(255, 0, 0, 0.2) !important;
}
.warning {
    background-color: rgba(243,243, 16, 0.35);
    border-color: rgba(243, 243, 16, 0.2);
}
.more {
    padding: 20px;
}
.alert {
    text-align: center;
    background-color: rgba(224, 243, 11, .40) !important;
    border-color: rgba(224, 243, 11, 0.50) !important;
}
#error {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: #EBC5C5;
    border: 2px solid rgba(255, 0, 0, 0.2);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    display: none;
}
.separator {
    width: 95%;
    margin-top: 13px;
    margin-bottom: 13px;
}
.CMS {
    margin: 0px;
    margin-bottom: 5px;
}
.CMSImg {
    margin-right: 10px;
    max-width: 25px;
    max-height: 100%;
}

/* ONLY TABS UNDER HERE TURN BACK NOW OR FOREVER HOLD YOUR PEACE*/

.ui-tabs{
    padding: 0em !important; /* white border around tabs fix */
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    /* Tab itself font control/size of tab*/
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.ui-tabs .ui-tabs-panel {
    /* inside the "tab" / content */
    padding-bottom: 30px;
}
.ui-widget-content {
    border: 1px solid #ddd;
}

footer{
    margin-top: 10px;
}